<section>
    <mat-checkbox>First-past-the-post</mat-checkbox>
    <div class="info">In a first-past-the-post electoral system, voters cast their vote for a candidate of their choice, and the candidate who receives the most votes win (even if the top candidate gets less than 50%, which can happen when there are more than two popular candidates.)</div>
</section>
<section>
    <mat-checkbox>Ranked choice voting</mat-checkbox>
    <div class="info">In a ranked choice voting electoral system, voters arrange candidates by preference. The purpose of the ranking is to allow the vote to be transferred as their top choices are eliminated.</div>
</section>
<section>
    <mat-checkbox>Modified Borda Count</mat-checkbox>
    <div class="info">In a borda count voting electoral system, voters arrange candidates by preference. Weighted points are given based on the preference. A basic borda count requires all candidates to recieve a preference but a modified borda count allows the voter to choose to not award any points to any number of candidates.</div>
</section>
